    <div class = "col-lg-6" id = "reservations">
      <h2 id = "resHeader">CONTACT AND RESERVATIONS</h2>
      <form id = "form">
        <input id="name"  type = "name" placeholder = "Name">
        <input id ="phone" type = "text" placeholder = "Phone Number">
        <textarea id="message" placeholder = "Enter your message..."></textarea>
        <button id = "submit" type="submit" class="btn btn-info">Submit</button>
      </form>
      <p class = "contact-form-message"></p>
    </div>
    <div class = "col-lg-6" id = "contact">
      <div id="map"></div>
      <div id = "contact-info">
        <p><span>HOURS:</span>Tues-Sat | 4PM - 11PM</p>
        <p><span>PHONE:</span>555-555-2849</p>
        <p><span>ADDRESS:</span> 555 Guternburg Lane<br>St. Petersburg, FL 33702</p>
      </div>
    </div>
    <div class="col-lg-12" id="bottom">
      <div id="bottom-line"></div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src = "/js/norpac.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3Y3sbdJtvipiEsPNq515tZteCwZx_wd8&callback=initMap"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
