<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
    <title>North Pacific Restaurant</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div id = "top"></div>
    <nav class="navbar navbar-fixed-top navbar-inverse ">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/"><img id="logo" src = "/imgs/logo.png" alt="North Pacific logo"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right" id="navgen">
            <% if (user) { %>
              <li <% if (page === 'blog') { %>class="activeLink" <% } %>><a href="/blog">BLOG</a></li>
              <li <% if (page === 'new') { %>class="activeLink" <% } %>><a href="/blog/new">NEW POST</a></li>
              <li <% if (page === 'menu') { %>class="activeLink" <% } %>><a href="/blog/logout">LOGOUT</a></li>
              <% } else { %>
            <li <% if (page === 'home') { %>class="activeLink" <% } %>><a href="/">HOME</a></li>
            <li <% if (page === 'story') { %>class="activeLink" <% } %>><a href="/story">OUR STORY</a></li>
            <li <% if (page === 'menu') { %>class="activeLink" <% } %>><a href="/menu">MENU</a></li>
            <li><a href="#contact">CONTACT</a></li>
            <li <% if (page === 'blog') { %>class="activeLink" <% } %>><a href="/blog">BLOG</a></li>
          <% } %>
          </ul>
        </div>
      </div>
    </nav>
    <div  id = "flash-messages">
      <% if (error && error.length > 0) { %>
      <div class = "alert alert-danger"><%=error%></div>
      <% } else if (success && success.length > 0) { %>
      <div class = "alert alert-success"><%=success%></div>
      <% } %>
    </div>
