<% include ./partials/header.ejs %>
<div id="carousel-images" class="carousel slide page" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-images" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-images" data-slide-to="1"></li>
      <li data-target="#carousel-images" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/imgs/first.jpg" alt="slide 1 image">
        <div class="slide1-text">
          <div class="col-md-12 text-center">
            <h2>
              <span><strong>"Incredible food. Magnificent Service."</strong></span>
            </h2>
            <h3>
              <span>- The Big Food Times</span>
            </h3>
            <br>
          </div>
      </div>
        <div class = "carousel-content"></div>
      </div>
      <div class="item">
        <img src="/imgs/second.jpg" alt="slide 2 image">
        <div class="otherslides-text">
          <div class="col-md-12 text-center">
            <h2>
             <span><strong>New This Season!</strong></span>
            </h2>
            <h3>
             <span>Fresh Stone Crab</span>
            </h3>
            <br>
         </div>
       </div>
      </div>
      <div class="item">
        <img src="/imgs/third.jpg" alt="Slide 3 image">
        <div class="otherslides-text">
         <div class="col-md-12 text-center">
           <h2>
             <span><strong>The Freshest Catch!</strong></span>
           </h2>
           <h3>
             <span>Delivered Daily</span>
           </h3>
           <br>
        </div>
      </div>
    </div>
  </div>
</div>
<div class = "container" id = "maincontent">
  <div class= "row">
    <div class = "col-lg-6">
      <div id = "info-box">
        <h2>Only The Freshest</h2>
      <a href="/story"><button class = "btn btn-info fp-button"><h3>READ OUR STORY</h3></button></a>
      </div>
    </div>
    <div class = "col-lg-6">
      <div id = "info-box2">
        <h2>Let's Enjoy Dinner</h2>
        <a href="/menu"><button class = "btn btn-info fp-button"><h3>VIEW OUR MENU</h3></button></a>
      </div>
    </div>
  </div>
</div>
<% include ./partials/footer.ejs %>
