<% include ./partials/header.ejs %>
<section class = "container"; id="menu">
  <div class = "row">
    <div class = "menu-header"><div class ="header-line"></div><h1>APPETIZERS</h1><div class ="header-line"></div></div>
    <div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12 menu-items">
      <h3>CHILLED SEAFOOD TOWER<span>29.00</span></h3>
      <h3>ALASKAN SHRIMP COCKTAIL<span>16.00</span></h3>
      <h3>BLUE CRAB CAKES<span>17.00</span></h3>
      <h3>DOZEN ATLANTIC OYSTERS<span>19.00</span></h3>
    </div>
    <div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12 menu-items">
      <h3>TUNA TARTARE<span>15.00</span></h3>
      <h3>LOBSTER COCKTAIL<span>21.00</span></h3>
      <h3>SPINACH AND ARTICHOKE DIP<span>12.00</span></h3>
      <h3>5 SPICE ONION RINGS<span>10.00</span></h3>
    </div>
  </div>
  <div class = "row">
    <div class = "menu-header"><div class ="header-line"></div><h1>SOUPS AND SALADS</h1><div class ="header-line"></div></div>
    <div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12 menu-items">
      <h3>MIXED GREEN SALAD<span>7.00</span></h3>
      <h3>ICEBERG WEDGE SALAD<span>8.00</span></h3>
      <h3>CAESAR SALAD<span>7.00</span></h3>
      <h3>ARUGULA APPLE SALAD<span>10.00</span></h3>
    </div>
    <div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12 menu-items">
      <h3>BROCOLLI SOUP<span>6.00</span></h3>
      <h3>ONION & POTATO SOUP<span>7.00</span></h3>
      <h3>NEW ENGLAND CLAM CHOWDER<span>6.00</span></h3>
      <h3>FRENCH ONION SOUP<span>7.00</span></h3>
    </div>
  </div>
  <div class = "row">
    <div class = "menu-header"><div class ="header-line"></div><h1>SEAFOOD</h1><div class ="header-line"></div></div>
    <div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12 menu-items">
      <h3>STONE CRAB<span>24.00</span></h3>
      <h3>2 1/2LB LOBSTER<span>MP</span></h3>
      <h3>SEARED SALMON<span>18.00</span></h3>
      <h3>CHILEAN SEA BASS<span>17.00</span></h3>
    </div>
    <div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12 menu-items">
      <h3>GRILLED TUNA<span>16.00</span></h3>
      <h3>GRILLED MAHI-MAHI<span>19.00</span></h3>
      <h3>RAINBOW TROUT<span>18.00</span></h3>
      <h3>KING CRAB<span>29.00</span></h3>
    </div>
  </div>
  <div class = "row">
    <div class = "menu-header"><div class ="header-line"></div><h1>STEAK</h1><div class ="header-line"></div></div>
    <div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12 menu-items">
      <h3>PORTERHOUSE<span>24.00</span></h3>
      <h3>N.Y. SIRLOIN STEAK<span>19.00</span></h3>
      <h3>LAMB CHOPS<span>18.00</span></h3>
      <h3>FILET MIGNON<span>29.00</span></h3>
    </div>
    <div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12 menu-items">
      <h3>RIB-EYE STEAK<span>24.00</span></h3>
      <h3>VEAL CHOP<span>21.00</span></h3>
      <h3>VEAL OSSOBUCO<span>22.00</span></h3>
      <h3>SURF AND TURF<span>34.99</span></h3>
    </div>
  </div>
  <div class = "row">
    <div class = "menu-header"><div class ="header-line"></div><h1>DESSERT</h1><div class ="header-line"></div></div>
    <div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12 menu-items">
      <h3>TIRAMISU<span>7.00</span></h3>
      <h3>PECAN PIE<span>6.00</span></h3>
      <h3>NY CHEESECAKE<span>8.00</span></h3>
      <h3>CHOCOLATE MOUSSE CAKE<span>7.00</span></h3>
    </div>
    <div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12 menu-items">
      <h3>ASSORTMENT OF ICE CREAM<span>6.00</span></h3>
      <h3>KEY LIME PIE<span>8.00</span></h3>
      <h3>CARROT CAKE<span>6.00</span></h3>
      <h3>CREME BRULEE<span>7.00</span></h3>
    </div>
  </div>
</section>
<% include ./partials/footer.ejs %>
