<% include ./partials/header.ejs %>
  <div class = "container page">
    <div class = "row">
      <div class = "menu-header"><div class ="header-line"></div><h1>APPETIZERS</h1><div class ="header-line"></div></div>
      <div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12 menu-items">
        <h3>CHILLED SEAFOOD TOWER<span>49.99</span></h3>
        <h3>ALASKAN SHRIMP COCKTAIL<span>17.99</span></h3>
        <h3>BLUE CRAB CAKES<span>21.99</span></h3>
        <h3>DOZEN ATLANTIC OYSTERS<span>24.99</span></h3>
      </div>
      <div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12 menu-items">
        <h3>TUNA TARTARE<span>20.99</span></h3>
        <h3>LOBSTER COCKTAIL<span>29.99</span></h3>
        <h3>SPINACH AND ARTICHOKE DIP<span>16.99</span></h3>
        <h3>5 SPICE ONION RINGS<span>14.99</span></h3>
      </div>
    </div>
    <div class = "row">
      <div class = "menu-header"><div class ="header-line"></div><h1>SOUPS AND SALADS</h1><div class ="header-line"></div></div>
      <div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12 menu-items">
        <h3>MIXED GREEN SALAD<span>8.99</span></h3>
        <h3>ICEBERG WEDGE SALAD<span>11.99</span></h3>
        <h3>CAESAR SALAD<span>10.99</span></h3>
        <h3>ARUGULA APPLE SALAD<span>13.99</span></h3>
      </div>
      <div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12 menu-items">
        <h3>BROCOLLI SOUP<span>11.99</span></h3>
        <h3>ONION & POTATO SOUP<span>10.99</span></h3>
        <h3>NEW ENGLAND CLAM CHOWDER<span>12.99</span></h3>
        <h3>FRENCH ONION SOUP<span>12.99</span></h3>
      </div>
    </div>
    <div class = "row">
      <div class = "menu-header"><div class ="header-line"></div><h1>FAVORITES</h1><div class ="header-line"></div></div>
      <div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12 menu-items">
        <h3>CHICKEN PARMESAN<span>24.99</span></h3>
        <h3>2 1/2LB LOBSTER<span>MP</span></h3>
        <h3>SEARED SALMON<span>29.99</span></h3>
        <h3>CHILEAN SEA BASS<span>32.99</span></h3>
      </div>
      <div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12 menu-items">
        <h3>GRILLED TUNA<span>27.99</span></h3>
        <h3>GRILLED DUCK<span>22.99</span></h3>
        <h3>RAINBOW TROUT<span>27.99</span></h3>
        <h3>CHICKEN PALLARD<span>30.99</span></h3>
      </div>
    </div>
    <div class = "row">
      <div class = "menu-header"><div class ="header-line"></div><h1>STEAK</h1><div class ="header-line"></div></div>
      <div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12 menu-items">
        <h3>PORTERHOUSE<span>49.99</span></h3>
        <h3>N.Y. SIRLOIN STEAK<span>47.99</span></h3>
        <h3>LAMB CHOPS<span>49.99</span></h3>
        <h3>FILET MIGNON<span>52.99</span></h3>
      </div>
      <div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12 menu-items">
        <h3>RIB-EYE STEAK<span>55.99</span></h3>
        <h3>VEAL CHOP<span>48.99</span></h3>
        <h3>VEAL OSSOBUCO<span>51.99</span></h3>
        <h3>SURF AND TURF<span>60.99</span></h3>
      </div>
    </div>
    <div class = "row">
      <div class = "menu-header"><div class ="header-line"></div><h1>DESSERT</h1><div class ="header-line"></div></div>
      <div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12 menu-items">
        <h3>TIRAMISU<span>10.99</span></h3>
        <h3>PECAN PIE<span>11.99</span></h3>
        <h3>NY CHEESECAKE<span>14.99</span></h3>
        <h3>CHOCOLATE MOUSSE CAKE<span>10.99</span></h3>
      </div>
      <div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12 menu-items">
        <h3>ASSORTMENT OF ICE CREAM<span>9.99</span></h3>
        <h3>KEY LIME PIE<span>12.99</span></h3>
        <h3>CARROT CAKE<span>13.99</span></h3>
        <h3>CREME BRULEE<span>12.99</span></h3>
      </div>
    </div>
  </div>
<% include ./partials/footer.ejs %>
