<% include ./partials/header.ejs %>
<div class ="col-lg-12 col-xs-12" id="storybg">
  <div id ="storybgimg"></div>
</div>
<section id = "story-box">
  <h1><span class="glyphicon glyphicon-info-sign"></span>OUR STORY</h1>
  <div id="line"></div>
  <p>North Pacific was born with three simple ideas. The first one is creating
    dishes only with the freshest ingredients available. Our second idea is to
    never cut corners under any circumstances. Our last idea is to only hire team members
    that have a true enthusiasm and dedication to making our guest experience memorable. With
    these three principles we know you will leave our establishment satisfied and with a wish to return.
  </p>
</section>
<% include ./partials/footer.ejs %>
