<% include ../partials/header.ejs %>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">
<link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.5/css/froala_editor.min.css' rel='stylesheet' type='text/css' />
<link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.5/css/froala_style.min.css' rel='stylesheet' type='text/css' />
<div class ="margin"></div>
<div class = "container" id = "blog-form">
  <div id = "blog-head">
    <h1> NEW BLOG POST </h1>
  </div>
    <div class = "col-lg-12">
      <form action="/blog/<%=blog._id%>?_method=PUT" enctype="multipart/form-data" method="POST">
        <div class="form-group">
          <label for="title">BLOG TITLE</label>
          <input type="text" class="form-control" name="blog[title]"  value="<%=blog.title%>">
        </div>
        <div class="form-group">
          <label for="image">UPLOAD IMAGE</label>
          <input type="file" class="form-control" name="image" value="<%=blog.image%>">
        </div>
        <div class="form-group">
          <label for="title">BLOG TITLE</label>
          <textarea id="blog-body" class="form-control" name="blog[body]"  placeholder="Enter a Title"><%=blog.body%></textarea>
        </div>
        <button id="buttonsubmit" type="submit" class="btn btn-primary btn-block">Submit</button>
      </form>
    </div>
</div>

<% include ../partials/footer.ejs %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.5/js/froala_editor.min.js'></script>
<script>
 $(function() {
   $('#blog-body').froalaEditor({
     // Set custom buttons with separator between them.
     toolbarButtons: ['undo', 'redo' , '|', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'outdent', 'indent', 'clearFormatting', 'insertTable', 'html'],
     toolbarButtonsXS: ['undo', 'redo' , 'bold', 'italic', 'underline'],
     heightMin: 200,
     heightMax: 400
   })
 });
</script>
